src/main/resources/xsd/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:dt="http://www.intershop.com/xml/ns/enfinity/6.5/core/impex-dt"
	elementFormDefault="qualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="xml.xsd" />
	<xsd:import
		namespace="http://www.intershop.com/xml/ns/enfinity/6.5/core/impex-dt"
		schemaLocation="dt.xsd" />

	<xsd:attributeGroup name="documentVersion">
		<xsd:attribute name="major">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1}" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="minor">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1}" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="family">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="enfinity" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="branch">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="enterprise" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" />
	</xsd:attributeGroup>

	<xsd:simpleType name="simpleType.Generic.Locale">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="([a-z]{2}[\-_][A-Z]{2}([\-_][A-Z]){0,1}){0,1}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.IPAddress">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="(\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}/\d{1,2})(;\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}/\d{1,2})*" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.UUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z0-9_\.]{24}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Boolean">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" />
			<xsd:enumeration value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Number">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="-?[0-9]+" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="complexType.Generic.Attribute.String"
		mixed="true">
		<xsd:simpleContent>
			<xsd:extension
				base="simpleType.Generic.Attribute.String.Value">
				<xsd:attribute ref="xml:lang" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="complexType.Generic.XMLAttribute.String"
		mixed="true">
		<xsd:simpleContent>
			<xsd:extension
				base="simpleType.Generic.XMLAttribute.String.Value">
				<xsd:attribute ref="xml:lang" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ImportMode -->

	<xsd:simpleType name="simpleType.ImportMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OMIT" />
			<xsd:enumeration value="IGNORE" />
			<xsd:enumeration value="INITIAL" />
			<xsd:enumeration value="DELETE" />
			<xsd:enumeration value="REPLACE" />
			<xsd:enumeration value="UPDATE" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- simple Generic types -->

	<xsd:simpleType name="simpleType.Generic.String.10">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.String.28">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="28" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.String.256">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="256" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.String.1024">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="1024" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.String.4000">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="4000" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Date">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d+/\d+/\d+ \d+:\d+:\d+" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Date">
		<xsd:restriction base="xsd:string">
			<!-- Accepts YYYY-MM-dd or YYYYMMdd -->
			<!-- 29 Febryary is always acceptable - no leap year check -->
			<xsd:pattern value="(\d\d\d\d-(((0[13578]|1[02])-(0[1-9]|[12]\d|3[01]))|((0[469]|11)-(0[1-9]|[12]\d|30))|((02)-(0[1-9]|1\d|2[0-9]))))|(\d\d\d\d(((0[13578]|1[02])(0[1-9]|[12]\d|3[01]))|((0[469]|11)(0[1-9]|[12]\d|30))|((02)(0[1-9]|1\d|2[0-9]))))" />

		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.DateTime">
		<xsd:restriction base="xsd:string">
			<!-- Accepts YYYY-MM-dd(Thh:MM(:ss)(Z|(+-)hh:MM)) or YYYYMMdd(ThhMM(ss)(Z|(+-)hhMM)) -->
			<!-- 29 Febryary is always acceptable - no leap year check -->
			<xsd:pattern value="(\d\d\d\d-(((0[13578]|1[02])-(0[1-9]|[12]\d|3[01]))|((0[469]|11)-(0[1-9]|[12]\d|30))|((02)-(0[1-9]|1\d|2[0-9])))(T([0-1][0-9]|2[0-3]):([0-5][0-9])(:([0-5][0-9]))?(Z|((\+|-)([0-1][0-9]|2[0-3])(:([0-5][0-9]))?))?)?)|(\d\d\d\d(((0[13578]|1[02])(0[1-9]|[12]\d|3[01]))|((0[469]|11)(0[1-9]|[12]\d|30))|((02)(0[1-9]|1\d|2[0-9])))(T([0-1][0-9]|2[0-3])([0-5][0-9])(([0-5][0-9]))?(Z|((\+|-)([0-1][0-9]|2[0-3])(([0-5][0-9]))?))?)?)" />

		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Price">
		<xsd:restriction base="xsd:double">
			<!-- no special restriction yet -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Currency.Mnemonic">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{3}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- CustomAttributes -->

	<xsd:complexType name="complexType.CustomAttributes"
		mixed="false">
		<xsd:sequence>
			<xsd:element name="custom-attribute"
				type="complexType.CustomAttribute" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="complexType.CustomAttribute" mixed="true">
		<xsd:sequence>
			<xsd:element name="value"
				type="complexType.Multiple.Custom.Attribute.Value" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="simpleType.Generic.String.256"
			use="required" />
            	<xsd:attribute name="import-mode">
		    <xsd:simpleType>
			<xsd:restriction base="simpleType.ImportMode">
			    <xsd:enumeration value="REPLACE" />
			    <xsd:enumeration value="UPDATE" />
			</xsd:restriction>
		    </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute ref="dt:dt" />
		<xsd:attribute ref="xml:lang" />
	</xsd:complexType>

	<xsd:simpleType name="simpleType.Generic.Attribute.Value">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="4000" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="complexType.Multiple.Custom.Attribute.Value">
		<xsd:simpleContent>
		    <xsd:extension base="simpleType.Generic.String.4000">
			<xsd:attribute name="update-mode" type="simpleType.Generic.Attribute.Value.UpdateMode" />
		    </xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:simpleType name="simpleType.Generic.XMLAttribute.Value">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Attribute.String.Value">
		<xsd:restriction base="simpleType.Generic.Attribute.Value">
			<!-- no special restriction for string attribute values -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.XMLAttribute.String.Value">
		<xsd:restriction base="simpleType.Generic.XMLAttribute.Value">
			<!-- no special restriction for string attribute values -->
		</xsd:restriction>
	</xsd:simpleType>

	<!-- RoleAssignments -->

	<xsd:complexType name="complexType.RoleAssignments" mixed="false">
		<xsd:sequence>
			<xsd:element name="access-privilege"
				type="complexType.RoleAssignment" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="complexType.RoleAssignment" mixed="false">
		<xsd:attribute name="usergroup-id"
			type="simpleType.Generic.String.256" />
		<xsd:attribute name="domain"
			type="simpleType.Generic.String.256" />
		<xsd:attribute name="role-id"
			type="simpleType.Generic.String.256" />
	</xsd:complexType>

	<xsd:complexType name="complexType.Generic.Quantity">
		<xsd:simpleContent>
			<xsd:extension base="simpleType.Generic.Quantity.Value">
				<xsd:attribute name="unit"
					type="simpleType.Generic.Quantity.Unit" use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="simpleType.Generic.Quantity.Value">
		<xsd:restriction base="xsd:double">
			<!-- no special restriction -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Quantity.Unit">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="256" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Month">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="12" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simpleType.Generic.Year">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="9999" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="complexType.CustomData" mixed="false">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="skip"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="simpleType.Generic.Attribute.Value.UpdateMode">
	  <xsd:restriction base="xsd:string">
	    <xsd:enumeration value="DELETE" />
	    <xsd:enumeration value="ADD" />
	    <xsd:enumeration value="UPDATE" />
	  </xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
